@model LanCenter.Models.FoodOrder

@{
    ViewData["Title"] = "Poista";
}

<h2>Poista</h2>

<h3>Poistaa, haluatko?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Listaukseen</a>
        </div>
    </form>
</div>
