@model LanCenter.Models.Game

@{
    ViewData["Title"] = "Tiedot";
}

<h2>Tiedot</h2>

<div>
    <h4 id="gameName">@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div class="row" id="GamesDetails">
        <div class="col-md-6" data-bind="if:players">
            <!--ko if:players().length != 0-->
            <h3 data-bind="text: 'The Owners: '"></h3>
            <ul class="list-unstyled" data-bind="foreach: players">
                <li class="list-group-item">
                    <span data-bind="text: PlayerName" class="game-details-font"></span>
                    <span data-bind="text: IsLoggedIn ? 'Paikalla' : 'Ei paikalla' " class="game-details-font" style="float:right;"></span>
                </li>
            </ul>
            <!--/ko-->
            <!--ko if:players().length == 0-->
            <h3 data-bind="text: 'Nobody has bought this... yet...'"></h3>
            <!--/ko-->
        </div>
    </div>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.GameID">Muokkaa</a> |
    <a asp-action="Index">Listaukseen</a>
</p>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Games/Details.js"></script>
}
