@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">@User.GetUserName()!</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="LogOff"><span>Kirjaudu ulos</span></a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Rekisteröidy</a></li>
        <li><a asp-controller="Account" asp-action="Login">Kirjaudu sisään</a></li>
    </ul>
}
