@using System.Security.Claims

@if (User.IsSignedIn())
{
    string username = User.GetUserName().Split('.')[0];
    username = char.ToUpper(username[0]) + username.Substring(1);
    <div id="cssmenu">
        <ul>
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @username!</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="LogOff"><span>Kirjaudu ulos</span></a>
            </li>
        </ul>
    </div>
}
else
{
    <div id="cssmenu">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="Register">Rekisteröidy</a></li>
            <li><a asp-controller="Account" asp-action="Login">Kirjaudu</a></li>
        </ul>
    </div>
}
