@using System.Security.Claims
@using Microsoft.AspNet.Session;
@using Microsoft.AspNet.Http;

@{
    ViewData["Title"] = "LanCenter";
}
<h1>Tervetuloa!</h1>
@if (User.IsSignedIn())
{

    string username = User.GetUserName();

    <h2>@username</h2>
    <h4>@Context.Session.GetString("Name")</h4>
}
else
{
    <h4>Kirjaudu sisään jatkaaksesi...</h4>
}
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}
