@model IndexViewModel
@{
    ViewData["Title"] = "Hallitse";
}

<h2>@ViewData["Title"].</h2>
<div>
    <h4>Vaihda salasana</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Salasana:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Vaihda</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Luo</a>
            }
            ]
        </dd>
    </dl>
</div>
